{"filter":false,"title":".gitignore","tooltip":"/application/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":4,"column":4},"end":{"row":5,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":5,"column":0},"end":{"row":5,"column":11},"action":"insert","lines":["!.gitignore"],"id":3}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":5,"column":11},"end":{"row":5,"column":11},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1454393343452,"hash":"15a12ae21effe77c864a305680f20f7147478612"}