@import "../../../node_modules/bootstrap-less/bootstrap/index";

@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";
@import "jasny-bootstrap.min.css";
@import "jquery-ui.min.css";
@import "jquery-ui.structure.min.css";
@import "jquery-ui.theme.min.css";

@brand-primary:         #bc0f0b;

.postBody {
	overflow-wrap: break-word;
	word-wrap: break-word;
}
.postBody p {
	box-sizing: border-box;
	font-family:georgia;
    font-size:18px;
    line-height:32px;
    overflow-wrap: break-word;
	word-wrap: break-word;
}